.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


border-color.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


input{
 
  font-size: medium;
  padding: 7px;
  margin: 5px;
  margin-left: 35%;
  width: 400px;

}
textarea,button{
  margin-left: 45%;
  
}
textarea{
  width: 410px;
  margin-left: 35%;
  font-size: medium;
  height: 100px;
}
button{
  width: 200px;
  margin-left: 45%;
  font-size: medium;
  background-color: #C5C5C5;
  border-color: #C5C5C5;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}



.formbg{
  background-color: rgb(228, 228, 228);
}


.appbg{
  background-color: #C5C5C5;
  margin: 100px;
}

.text1{
 margin-left: 45%;
}
h4{
  margin: 10px;
}

text{
  padding: 10px;
}